@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::after, *::before, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --title-bold: hsl(234, 12%, 34%);
    --title-light:hsl(212, 6%, 44%);
    --text-color: hsl(212, 6%, 44%);

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main-title, .description{
    text-align: center;
}

.description{
    color: var(--text-color);
    text-wrap: wrap;
    /* border:2px solid; */
    max-width: 65%;
    margin-inline: auto;
}

.main-title{
    margin-block: 1rem;
    color: var(--title-light);
    font-weight: 400;
    font-size: 2.5rem;
}

.main-title > span{
    color: var(--title-bold);
    font-weight: 600;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

.cards .card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: white;
    box-shadow: 0px 6px 8px 3px rgba(0,0,0,0.1);
    padding: 2rem;
    gap: 1rem;
    border-radius: 5px;
}

.card > img{
    margin-top: 1.8rem;
    /* border:2px solid black; */
    max-width: 100%;
    height: auto;
    width: 50px;
    align-self: flex-end;
}

.card > h2{
    color: var(--title-bold);
    font-weight: 600;
    align-self: flex-start;
}

.card > p{
    color: var(--text-color);
}
.inner-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 2.5rem;
}

.--inner-card:first-child{
    border-top:2px solid var(--Red);
}

.--inner-card:last-child{
    border-top:2px solid var(--Orange);
}

.cards > .card:first-child{
    border-top:2px solid var(--Cyan);
}

.cards > .card:last-child{
    border-top:2px solid var(--Blue);
}

@media screen and (max-width:920px){
    :root{
        font-size: 12px;
    }

    .main-title{
        font-size: 2rem;
    }
    
    .cards{
        padding:1.5rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .description{
        max-width: 80%;
    }
    .inner-section{
        padding: 0;
        grid-row: span 2;
    }
}


@media screen and (max-width:375px){
    :root{
        font-size: 10px;
    }

    .main-title{
        font-size: 2rem;
    }

    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .description{
        max-width: 80%;
    }
    .inner-section{
        padding: 0;
    }
}